body {
  background-color: powderblue;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 0;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  list-style: none;
  padding: 0;
}

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
  text-align: center;
}

body > .navbar {
  margin-left: 0;
  width: 100%;
}

.image > img {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

li:hover {
  color: powderblue;
}

.grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 300px);
  background-color: whitesmoke;
  justify-content: center;
  align-content: center;
}

.item {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid white;
  border-radius: 15px;
  margin: 15px 0;
}

.item p {
  text-align: center;
}
.carousel-item > img{
width: 50%;
}
.container{
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 25px;
  /* border: 5px solid black; */
  max-width:50%;
  min-height: 3rem;
}
.contact{
  background-color: beige;
  height: 80%;
  width: 50%;
 
  
}
input,textarea{
  width: 80%;
  margin: 25px;
  margin-left: 100px;
  
}
button{
  width: 120px;
border-radius: 5px;
background-color: blue;
 margin-left: 100px;
 color: white;
}
.image p{
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.grid button{

 background-color: orange;
  margin-bottom: 5px;
}
.grid img{
  margin-top: 0;
}